@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

header {
    width: 100%;
}

.logollave {
    width: 70px;
    height: 70px;
    margin-top: 3px;
}

body {
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(3, 3, 3, 0.274);
}

h1 {
    font-size: 30px;
}

.nav-link {
    padding: 30px;
    font-size: 20px;
}

.nav-item {
    margin: 0 20px;
}

.nav-link:hover {
    text-transform: uppercase;
}

.iconobusqueda {
    width: 20px;
    height: 20px;
}

.botonbusqueda {
    margin-right: 7px;
}

.iconocarrito {
    width: 23px;
    height: 23px;
}

.inputbusqueda {
    width: 150px;
    height: 30px;
}

.imgcarousel {
    object-fit: cover;
}

.serviciosinicio img {
    width: 400px;
}

.casainicio img {
    width: 1000px;
}


.card {
    width: 300px;
    height: 10px;
    padding-bottom: 10px;
}

.card img {
    cursor: pointer;
}

.candadosproductos {
    margin-top: 100px;
}

/* FOOTER */

footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.iconosfooter {
    width: 30px;
    height: 30px;
}

/* instagram */

.ig {
    background: gray;
    padding: 6px;
    border-radius: 50px;
    color: black;
}

.iconoinstagram {
    width: 22px;
    padding-left: 4px;
}

/* facebook */

.fb {
    background: gray;
    padding: 6px;
    border-radius: 50px;
    color: black;
}

.iconofacebook {
    width: 22px;
    padding-left: 3px;
}

/* twitter */

.tw {
    background: gray;
    padding: 6px;
    border-radius: 500px;
    color: black;
}

.iconotwitter {
    width: 22px;
    padding-left: 3px;
}

/* Visa */

.visa {
    background: gray;
    padding: 6px;
    border-radius: 50px;
    color: black;
}

.iconovisa {
    width: 22px;
    padding-left: 2px;
}

/* MasterCard */

.mastercard {
    background: gray;
    padding: 6px;
    border-radius: 50px;
    color: black;
}

.iconomastercard {
    width: 22px;
    padding-left: 2px;
}

/* Paypal */

.paypal {
    background: gray;
    padding: 6px;
    border-radius: 50px;
    color: black;
}

.iconopaypal {
    width: 22px;
    padding-left: 2px;
}

/* Transferencia Bancaria */

.transferenciabancaria {
    background: gray;
    padding: 6px;
    border-radius: 50px;
    color: black;
}

.iconotransfer {
    width: 22px;
    padding-left: 3px;
}

/* Bitcoin */

.bitcoin {
    background: gray;
    padding: 6px;
    border-radius: 50px;
    color: black;
}

.iconobitcoin {
    width: 22px;
    padding-left: 3px;
}


/* Locales */

.local {
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-decoration: underline;
}

.mapalocales {
    align-items: center;
    display: flex;
    width: 100%;
}

.mapap {
    width: 100%;
    margin: 0 20px 100px 20px;
    display: flex;
    border: 3px black solid;
    padding: 20px;
}

.loremmapa {
    padding-left: 40px;
    padding-top: 15px;
}

/* NOSOTROS */

.imagen1nosotros {
    width: 40%;
    border-radius: 50px;
}

.imagen2nosotros {
    width: 40%;
    border-radius: 50px;
}

.mainnosotros {
    border: 3px solid black;
    margin: 40px;
}

/* CONTACTO*/

/* MAIN FORMULARIO */

.contactoform {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 40px;
}

.contactoform input {
    width: 250px;
    height: 30px;
    cursor: pointer;
}

.contactoform textarea {
    padding: 5px;
}

.titulocontacto {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.subtitulocontacto {
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.botonsubmitcontacto {
    width: 120px;
    height: 30px;
    cursor: pointer;
}