@import "https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
  background-color: rgba(3, 3, 3, 0.274);
}

header {
  width: 100%;
}

.logollave {
  width: 70px;
  height: 70px;
  margin-top: 3px;
}

@keyframes texto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
h1 {
  font-size: 30px;
  animation-name: texto;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.nav-link {
  padding: 30px;
  font-size: 20px;
}
.nav-link:hover {
  text-transform: uppercase;
}

.nav-item {
  margin: 0 20px;
}

.iconobusqueda {
  width: 20px;
  height: 20px;
}

.botonbusqueda {
  margin-right: 7px;
  padding: 3px;
}

.iconocarrito {
  font-size: 20px;
}

.botoncarrito {
  padding: 3px;
}

.imgmenuhamburguesa {
  width: 23px;
  margin: 0;
  padding: 0;
}

.imgcarousel {
  object-fit: cover;
}

.imgcasa {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.imgauto {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.imgcajafuerte {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.textoinicio {
  font-size: 40px;
}

.tituloinicio {
  font-size: 50px;
}

/* Productos */
.card {
  width: 300px;
  height: 10px;
  padding-bottom: 10px;
}
.card img {
  cursor: pointer;
}
.card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}

.candadosproductos {
  margin-top: 100px;
}

/* Locales */
.mapalocales {
  width: 100%;
  height: 350px;
}

/* NOSOTROS */
.imagen2nosotros {
  width: 550px;
  border-radius: 50px;
  cursor: pointer;
}

.mainnosotros {
  border: 3px solid black;
  margin: 40px;
}

/* CONTACTO*/
.inputname {
  height: 30px;
  width: 244px;
}

.inputemail {
  height: 30px;
  width: 244px;
}

.inputnumero {
  height: 30px;
  width: 244px;
}

.textareaform {
  height: 200px;
  width: 400px;
}

.numerocontacto {
  font-size: 40px;
}

.contactomain {
  border: 3px black solid;
}

/* FOOTER */
footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

.iconosfooter {
  width: 30px;
  height: 30px;
}

/* instagram */
.ig {
  background: gray;
  padding: 6px;
  border-radius: 50px;
  color: black;
}

.iconoinstagram {
  width: 22px;
  padding-left: 4px;
}

/* facebook */
.fb {
  background: gray;
  padding: 6px;
  border-radius: 50px;
  color: black;
}

.iconofacebook {
  width: 22px;
  padding-left: 3px;
}

/* twitter */
.tw {
  background: gray;
  padding: 6px;
  border-radius: 50px;
  color: black;
}

.iconotwitter {
  width: 22px;
  padding-left: 3px;
}

/* Visa */
.visa {
  background: gray;
  padding: 6px;
  border-radius: 50px;
  color: black;
}

.iconovisa {
  width: 22px;
  padding-left: 2px;
}

/* MasterCard */
.mastercard {
  background: gray;
  padding: 6px;
  border-radius: 50px;
  color: black;
}

.iconomastercard {
  width: 22px;
  padding-left: 2px;
}

/* Paypal */
.paypal {
  background: gray;
  padding: 6px;
  border-radius: 50px;
  color: black;
}

.iconopaypal {
  width: 22px;
  padding-left: 2px;
}

/* Transferencia Bancaria */
.transferenciabancaria {
  background: gray;
  padding: 6px;
  border-radius: 50px;
  color: black;
}

.iconotransfer {
  width: 22px;
  padding-left: 3px;
}

/* Bitcoin */
.bitcoin {
  background: gray;
  padding: 6px;
  border-radius: 50px;
  color: black;
}

.iconobitcoin {
  width: 22px;
  padding-left: 3px;
}

@media (min-width: 1200px) {
  .footizq {
    margin-left: 50px;
  }
}

/*# sourceMappingURL=estilo.css.map */
