/* CONTACTO*/

.inputname {
	height: 30px;
	width: 244px;
}
.inputemail {
	height: 30px;
	width: 244px;
}
.inputnumero {
	height: 30px;
	width: 244px;
}
.textareaform {
	height: 200px;
	width: 400px;
}
.numerocontacto {
	font-size: 40px;
}
.contactomain {
	border: 3px black solid;
}