/* FOOTER */

footer {
	width: 100%;
	margin: 0;
	padding: 0;
}
.iconosfooter {
	width: 30px;
	height: 30px;
}

/* instagram */

.ig {
	background: gray;
	padding: 6px;
	border-radius: 50px;
	color: $color_1;
}
.iconoinstagram {
	width: 22px;
	padding-left: 4px;
}

/* facebook */

.fb {
	background: gray;
	padding: 6px;
	border-radius: 50px;
	color: $color_1;
}
.iconofacebook {
	width: 22px;
	padding-left: 3px;
}

/* twitter */

.tw {
	background: gray;
	padding: 6px;
	border-radius: 500px;
	color: $color_1;
}
.iconotwitter {
	width: 22px;
	padding-left: 3px;
}

/* Visa */

.visa {
	background: gray;
	padding: 6px;
	border-radius: 50px;
	color: $color_1;
}
.iconovisa {
	width: 22px;
	padding-left: 2px;
}

/* MasterCard */

.mastercard {
	background: gray;
	padding: 6px;
	border-radius: 50px;
	color: $color_1;
}
.iconomastercard {
	width: 22px;
	padding-left: 2px;
}

/* Paypal */

.paypal {
	background: gray;
	padding: 6px;
	border-radius: 50px;
	color: $color_1;
}
.iconopaypal {
	width: 22px;
	padding-left: 2px;
}

/* Transferencia Bancaria */

.transferenciabancaria {
	background: gray;
	padding: 6px;
	border-radius: 50px;
	color: $color_1;
}
.iconotransfer {
	width: 22px;
	padding-left: 3px;
}

/* Bitcoin */

.bitcoin {
	background: gray;
	padding: 6px;
	border-radius: 50px;
	color: $color_1;
}
.iconobitcoin {
	width: 22px;
	padding-left: 3px;
}
