/* FOOTER */

@mixin iconosimg1 {
	width: 22px;
	padding-left: 3px;
}

@mixin iconosimg2 {
	width: 22px;
	padding-left: 2px;
}

@mixin iconos {
	background: gray;
	padding: 6px;
	border-radius: 50px;
	color: $color_1;
}

footer {
	width: 100%;
}

.iconosfooter {
	width: 30px;
	height: 30px;
}

/* instagram */

.ig {
	@include iconos;
}

.iconoinstagram {
	width: 22px;
	padding-left: 4px;
}

/* facebook */

.fb {
	@include iconos;
}

.iconofacebook {
	@include iconosimg1;
}

/* twitter */

.tw {
	@include iconos;
}

.iconotwitter {
	@include iconosimg1;
}

/* Visa */

.visa {
	@include iconos;
}

.iconovisa {
	@include iconosimg2;
}

/* MasterCard */

.mastercard {
	@include iconos;
}

.iconomastercard {
	@include iconosimg2;
}

/* Paypal */

.paypal {
	@include iconos;
}

.iconopaypal {
	@include iconosimg2;
}

/* Transferencia Bancaria */

.transferenciabancaria {
	@include iconos;
}

.iconotransfer {
	@include iconosimg1;
}

/* Bitcoin */

.bitcoin {
	@include iconos;
}

.iconobitcoin {
	@include iconosimg1;
}