@mixin imginicio {
	width: 100%;
	cursor: pointer;
	object-fit: cover;
}

.imgcarousel {
	object-fit: cover;
}

.imgcasa {
	@include imginicio;
}

.imgauto {
	@include imginicio;
}

.imgcajafuerte {
	@include imginicio;
}

.textoinicio {
	font-size: 40px;
}

.tituloinicio {
	font-size: 50px;
}