.imgcarousel {
	object-fit: cover;
}

.imgcasa {
	width: 750px;
	height: 420px;
	cursor: pointer;
}

.imgauto {
	width: 750px;
	height: 420px;
	cursor: pointer;
}

.imgcajafuerte {
	width: 750px;
	height: 420px;
	cursor: pointer;
}