/* Productos */

.card {
	width: 300px;
	height: 10px;
	padding-bottom: 10px;

	img {
		cursor: pointer;
	}

	&:hover {
		transform: scale(1.03);
		transition: all 0.3s ease;
	}
}

.candadosproductos {
	margin-top: 100px;
}